<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Detail Berita - MI AL IKHLAS</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="/plugins/slick/slick.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/plugins/animate/animate.css">
    <!-- aos -->
    <link rel="stylesheet" href="/plugins/aos/aos.css">
    <!-- venobox popup -->
    <link rel="stylesheet" href="/plugins/venobox/venobox.css">

    <!-- Main Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  </head>

  <body>
    <!-- header -->
    <header class="fixed-top header">
      <!-- top header -->

      <!-- INCLUDE TOP HEADER -->
      <%- include("../include/_topheader.ejs") %>  

      <!-- navbar -->
      <div class="navigation w-100">
        <div class="container">

          <!-- INCLUDE NAVBAR -->
          <%- include("../include/_navbar.ejs") %>

        </div>
      </div>
    </header>
    <!-- /header -->

    <!-- Login Modal -->

    <!-- INCLUDE LOGIN MODAL -->
    <%- include("../include/_login.ejs") %>


    <!-- page title -->
    <section class="page-title-section overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <ul class="list-inline custom-breadcrumb">
              <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/news">Berita Sekolah</a></li>
            </ul>
            <p class="text-lighten"><%= berita.judul %></p>
          </div>
        </div>
      </div>
    </section>
    <!-- /page title -->

    <!-- news details -->
    <section class="section-sm bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-4">
            <img src="/uploads/<%= berita.beritaimg %>" alt="blog-thumb" class="img-fluid w-100">
          </div>
          <div class="col-12">
            <ul class="list-inline">
              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><%= berita.formattedDate %></li>
              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="ti-book mr-2"></i>Pembaca (<%= berita.views %>)</li>
            </ul>
          </div>
          <!-- border -->
          <div class="col-12 mt-4">
            <div class="border-bottom border-primary"></div>
          </div></br></br>
          <!-- blog contect -->
          <div class="col-12 mb-5">
            <h2><%= berita.judul %></h2>
            <p><%- berita.keterangan %></p>
          </div>
        </div>
      </div>
    </section>
    <!-- /news details -->

    <!-- recommended post -->
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="section-title">Rekomendasi Berita</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <% if (beritaList && beritaList.length > 0) { %>
            <% beritaList.forEach(post => { %>
              <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                  <img class="card-img-top rounded-0 pics-thumbnail" src="/uploads/<%= post.beritaimg %>" alt="Post thumb">
                  <div class="card-body">
                    <ul class="list-inline mb-3">
                      <li class="list-inline-item mr-3 ml-0"><%= post.formattedDate %></li>
                    </ul>
                    <a href="/showSingleNews/<%= post.berita_id %>">
                      <h4 class="card-title"><%= post.judul %></h4>
                    </a>
                    <% if (post.keterangan) { %>
                      <p class="card-text">
                        <%- post.shortDesc %>
                      </p>
                    <% } %>
                    <a href="/showSingleNews/<%= post.berita_id %>" class="btn btn-primary btn-sm">lanjut baca</a>
                  </div>
                </div>
              </article>
            <% }) %>
          <% } else { %>
            <p class="text-center">No recommended posts found.</p>
          <% } %>
        </div>
      </div>
    </section>

    <!-- footer -->

    <!-- INCLUDE FOOTER -->
    <%- include("../include/_footer.ejs") %>

    <!-- /footer -->

    <!-- jQuery -->
    <script src="/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="/plugins/slick/slick.min.js"></script>
    <!-- aos -->
    <script src="/plugins/aos/aos.js"></script>
    <!-- venobox popup -->
    <script src="/plugins/venobox/venobox.min.js"></script>
    <!-- mixitup filter -->
    <script src="/plugins/mixitup/mixitup.min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="/plugins/google-map/gmap.js"></script>

    <!-- Main Script -->
    <script src="/js/script.js"></script>

  </body>
</html>
