<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pengumuman - Admin Dashboard</title>
    <meta
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    name="viewport"
  />
    <link
    rel="icon"
    href="../img/kaiadmin/favicon.ico"
    type="image/x-icon"
  />

    <!-- Fonts and icons -->
    <script src="../js/plugin/webfont/webfont.min.js"></script>
    <script>
    WebFont.load({
      google: { families: ["Public Sans:300,400,500,600,700"] },
      custom: {
        families: [
          "Font Awesome 5 Solid",
          "Font Awesome 5 Regular",
          "Font Awesome 5 Brands",
          "simple-line-icons",
        ],
        urls: ["../css/fonts.min.css"],
      },
      active: function () {
        sessionStorage.fonts = true;
      },
    });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/plugins.min.css" />
    <link rel="stylesheet" href="../css/kaiadmin.min.css" />

  </head>
  <body>
    <div class="wrapper">

      <!-- INCLUDE ADMIN SIDEBAR -->
      <% if (role === 'admin') { %>
        <%- include("../../include/_adminSidebar.ejs") %>
      <% } else if (role === 'employee') { %>
        <%- include("../../include/_employeeSidebar.ejs") %>
      <% } %>
      <!-- /INCLUDE ADMIN SIDEBAR -->


      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
              <a href="/administrationDashboard" class="logo">
                <img
                src="../img/kaiadmin/logo_light.svg"
                alt="navbar brand"
                class="navbar-brand"
                height="20"
              />
              </a>
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
              </button>
            </div>
            <!-- End Logo Header -->
          </div>

          <!-- INCLUDE ADMIN NAVBAR -->
          <%- include("../../include/_administrationNavbar.ejs") %>
          <!-- /INCLUDE ADMIN NAVBAR -->

        </div>

        <div class="container">
          <div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">Pengumuman</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="/administrationDashboard">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="/pengumuman">Pengumuman</a>
                </li> 
              </ul>
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="d-flex align-items-center">
                    <a href="/addPengumuman">
                      <button
                        class="btn btn-primary btn-round ms-auto"
                        data-bs-toggle="modal"
                        data-bs-target="/addPengumuman"
                      >
                        <i class="fa fa-plus"></i>
                        Tambah Data 
                      </button>
                    </a> 
                  </div>
                </div>
                <div class="card-body">
                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="addRowModal"
                    tabindex="-1"
                    role="dialog"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h5 class="modal-title">
                            <span class="fw-mediumbold"> New</span>
                            <span class="fw-light"> Row </span>
                          </h5>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="small">
                            Create a new row using this form, make sure you
                            fill them all
                          </p>
                          <form>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                  <label>Name</label>
                                  <input
                                  id="addName"
                                  type="text"
                                  class="form-control"
                                  placeholder="fill name"
                                />
                                </div>
                              </div>
                              <div class="col-md-6 pe-0">
                                <div class="form-group form-group-default">
                                  <label>Position</label>
                                  <input
                                  id="addPosition"
                                  type="text"
                                  class="form-control"
                                  placeholder="fill position"
                                />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group form-group-default">
                                  <label>Office</label>
                                  <input
                                  id="addOffice"
                                  type="text"
                                  class="form-control"
                                  placeholder="fill office"
                                />
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer border-0">
                          <button
                            type="button"
                            id="addRowButton"
                            class="btn btn-primary"
                          >
                            Add
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="table-responsive">
                    <table
                      id="add-row"
                      class="display table table-striped table-hover"
                    >
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Judul</th>
                          <th>Keterangan</th>
                          <th>Tanggal</th>
                          <th>File Pengumuman</th>
                          <th>Created at</th>
                          <th style="width: 10%">Action</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Id</th>
                          <th>Judul</th>
                          <th>Keterangan</th>
                          <th>Tanggal</th>
                          <th>File Pengumuman</th>
                          <th>Created at</th>
                          <th>Action</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% if (pengumuman && pengumuman.length > 0) { %>
                        <% pengumuman.forEach((pengumuman, index) => { %>
                        <tr>
                          <td><%= index + 1 %></td>
                          <td><%= pengumuman.judul %></td>
                          <td><%- pengumuman.shortDesc %></td>
                          <td><%= pengumuman.tanggal %></td>
                          <td><%= pengumuman.pengumuman_file %></td>
                          <td><%= new Date(pengumuman.created_at).toLocaleString() %></td>
                          <td>
                            <div class="form-button-action">
                              <!-- Update Button -->
                              <a href="/updatePengumuman/<%= pengumuman.pengumuman_id %>">
                                <button type="button" class="btn btn-link btn-primary btn-lg">
                                  <i class="fa fa-edit"></i>
                                </button>
                              </a>

                              <!-- Delete Button -->
                              <form action="/deletePengumuman/<%= pengumuman.pengumuman_id %>" method="POST" style="display:inline;">
                                <button
                                  type="submit"
                                  class="btn btn-link btn-danger"
                                  onclick="return confirm('Are you sure you want to delete this pengumuman?');"
                                >
                                  <i class="fa fa-times"></i>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                        <% }) %>
                        <% } else { %>
                        <tr>
                          <td colspan="8">No pengumuman found.</td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
        
        <!-- INCLUDE FOOTER -->
        <%- include('../../include/_administrationFooter.ejs') %>
        <!-- /INCLUDE FOOTER -->
         
      </div>
    </div>
    
    <!--   Core JS Files   -->
    <script src="../js/core/jquery-3.7.1.min.js"></script>
    <script src="../js/core/popper.min.js"></script>
    <script src="../js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Datatables -->
    <script src="../js/plugin/datatables/datatables.min.js"></script>
    <!-- Kaiadmin JS -->
    <script src="../js/kaiadmin.min.js"></script>
    <script>
    $(document).ready(function () {
      $("#basic-datatables").DataTable({});

      $("#multi-filter-select").DataTable({
        pageLength: 5,
        initComplete: function () {
          this.api()
            .columns()
            .every(function () {
              var column = this;
              var select = $(
                '<select class="form-select"><option value=""></option></select>'
              )
              .appendTo($(column.footer()).empty())
              .on("change", function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                column
                  .search(val ? "^" + val + "$" : "", true, false)
                  .draw();
              });

              column
                .data()
                .unique()
                .sort()
                .each(function (d, j) {
                  select.append(
                    '<option value="' + d + '">' + d + "</option>"
                  );
                });
            });
        },
      });

      // Add Row
      $("#add-row").DataTable({
        pageLength: 5,
      });

      var action =
        '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

      $("#addRowButton").click(function () {
        $("#add-row")
          .dataTable()
          .fnAddData([
            $("#addName").val(),
            $("#addPosition").val(),
            $("#addOffice").val(),
            action,
          ]);
        $("#addRowModal").modal("hide");
      });
    });
    </script>
  </body>
</html>
